

.game-container{
    margin: auto;
    height: 600px;
    background-color: grey;
}

.level-btn{
    background-color: lightslategray;
    height: 50px;
}

.level-btn button{
    height: 40px;
}

.game-board{
    height: 400px;
    margin: auto;
}

table{
    height
    : 500px;
    width: 400px;
    background-color: lightgray;
}

td{
    height: 20px;
    width: 20px;
    background-color: #C0C0C0;
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}
.shown {
    background-color: #C0C0C0;
    font-size: 80%;
    text-align: center;
    border: none;
}
td.cell :hover{
    
    cursor: pointer;
}
.timer{
    height: 40px;
}